<!Doctype html>
{% load static %}

<html lang='ja' dir="ltr">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'invest/main_style.css' %}">
    <title>Investment</title>
  　</head>
    <body>

        <!-- ヘッダー -->
        <div class="row top-bg">
            <div class="col-md-4 text-center">
                <h1>株価分析システム</h1>
            </div>
            <div class="col-md-6 text-left mt-4">
                <h4>{{ year }}年{{ month }}月{{ day }}日</h4>
            </div>
            <div class="col-md-2 text-center mt-4">
                <a href="{% url 'trade' %}">
                    <h4>トレードページ</h4>
                </a>
            </div>
        </div>

        <!-- 左上  -->
        <div class="row">
            <div class="card">
                <div class="in-card">
                    <form class="form-inline" action="" method="post" autocomplete="off">{% csrf_token %}
                        {% csrf_token %}
                        <h2>Shiller PE Ratioによるリターン予測　</h2>
                            <input type="text" id="select_month" name="predict_year" placeholder="年数を入力してください" value={{ afteryears }}>
                            &nbsp;&nbsp;
                        <input type="submit" class="btn btn-primary" value="更新">
                    </form>
                    <div class="main">
                        <img src="{% static 'images/shiller_per_predict.png' %}" width=100%>
                    </div>
                </div>
            </div>

            <!-- 右上-->
            <div class="card">
                <div class="in-card">
                    <h2>PE Ratioによるリターン予測　</h2>
                    <div class="main">
                        <img src="{% static 'images/per_predict.png' %}" width=100%>
                    </div>
                </div>
            </div>
        </div>

        <!-- 左下 -->
        <div class="row">
            <div class="card">
                <div class="in-card">
                    <form class="form-inline" action="" method="post" autocomplete="off">{% csrf_token %}
                        <h2>ランダムウォーク理論によるリターン予測　</h2>
                            <input type="text" class ="simnum" id="select_month" name="sim_num" placeholder="回数" value={{ sim_num }}>
                            回&nbsp;&nbsp;<input type="text" class ="year" id="select_month" name="sim_year" placeholder="年数" value={{ sim_year }}>
                            年&nbsp;&nbsp;
                        <input type="submit" class="btn btn-primary" value="シミュレーション">
                    </form>
                    <div class="main">
                        <img src="{% static 'images/random_predict.png' %}" width=100%>
                    </div>
                </div>
            </div>
            <!-- 右下 -->
            <div class="card">
                <div class="in-card">
                    <h2>効率的フロンティアとの関係</h2>
                    <div class="main">
                        <img src="{% static 'images/invest_timeseries.png' %}" width=100%>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>    